.progress-bar {
    width: 100%;
    height: 21px;
    border-radius: 16px;
    background: #575267;

    @media screen and (max-width: 640px) {
        height: 16px;
    }

    &__fill {
        background-color: #35D4C0;
        height: 100%;
        border-radius: 16px;
        transition: .1s ease;
    }
}